doctype html
html.page(lang='ru-RU')

  include head

  body.page__body

      include ../modules/header

      block content

      include ../modules/footer

  script(src="js/main.js" type='module')
