{
  "extends": [
    "stylelint-config-airbnb",
    "stylelint-config-idiomatic-order",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "customSyntax": "postcss-less",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "no-duplicate-selectors": true,
    "selector-class-pattern": null,
    "property-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "scss/dollar-variable-pattern": ["/^foo-/", {"ignore": "global"}] ,
    "declaration-property-value-blacklist": {
    "/^border/": []
      }
    }
}
