{
  "extends": "stylelint-config-standard",
  "customSyntax": "postcss-less",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "no-duplicate-selectors": true
  }
}
