/* header */

.header {
  margin-inline: auto;
  min-width: $min-width;
  width: 100%;
  max-width: $desktop-width;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}
