/* logo */

.logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
}


.logo__img {
  width: 40px;
  height: 40px;

  @media (width < $tablet-width) {
  grid-row: span 2;
  }
}

.logo__title {
  margin: 0;

  @media (width >= $tablet-width) {
    align-self: center;
  }

}

.logo__tagline {
  margin: 0;

  @media (width > ($tablet-width - 1px)) {
    display: none;
  }
}
