/* header */

.header {
  position: relative;
  display: flex;
  width: 100%;
  min-width: $width-mobile-small;
  max-width: $width-desktop;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249 255 161);
  column-gap: 50px;
  margin-inline: auto;
  padding-block: 2.25rem;
  padding-inline: 3%;
}

.header__phone {
  position: relative;
  margin-top: 4px;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 125%;

  &::before {
    position: absolute;
    top: 0;
    left: -25px;
    width: 21px;
    height: 21px;
    background-image: url('../../img/icons/phone.svg');
    background-repeat: no-repeat;
    background-size: 20px 21px;
    content: url('');
  }
}
