@use "./abstract" as *;
@use "./modules" as *;
/* page */

.page {
  height: 100%;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  min-height: 100%;
  color: $basic_font;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-inline: 41px 88px;
  }
}
