// авто размер картинки
html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $basic_font;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
}

label {
  cursor: pointer;
}

input:focus {
  border: 2px solid $basic_font;
}

iframe {
  min-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

// центрирование контейнера
[class*='__container'] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
}

// плавное затухание
input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
