include ../mixins/mixins

footer.footer
  .footer__container

    ul.footer__list
      li.footer__item
        a(href='https://github.com/aleksem07' target='_blank') © &nbsp; 2022 &nbsp; github
      li.footer__item
        a(href='https://rs.school/js-stage0/' target='_blank') Rolling Scopes School
      li.footer__item.social

        ul.social__list
          +social('instagram', 'instagram')
          +social('fb', 'Facebook')
          +social('tw', 'Twitter')
          +social('pinterest', 'Pinterest')

  .copyright
    span &#169; Developed by aleksem07, 2023
