mixin social(svg, title, href='#')
  li.social__item
    span.visually-hidden #{title}
    a.social__link(href=href)
    svg(width='26.5' height="26.5" viewBox="0 0 26.5 26.5")
      .
        <use xlink:href="img/sprite.svg##{svg}"></use>

footer.footer
  .footer__container
    ul.footer__list
      li.footer__item
        a(href='https://github.com/aleksem07' target='_blank') © &nbsp; 2022 &nbsp; github
      li.footer__item
        a(href='https://rs.school/js-stage0/' target='_blank') Rolling Scopes School
      li.footer__item.social

        ul.social__list
          +social('instagram', 'instagram')
          +social('fb', 'Facebook')
          +social('tw', 'Twitter')
          +social('pinterest', 'Pinterest')

