/* button */

/* menu */

.menu-nav__button {
  @media (width < ($tablet-width + 1px)) {
    order: 1;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  @media (width > ($tablet-width - 1px)) {
    display: none;
  }
}

/* menu-icon */

@media (width < ($tablet-width + 1px)) {
  .menu-nav__icon {
    stroke: $basic_font;
  }

  .menu-nav__icon:hover {
    stroke: red;
  }
}

.menu-nav__icon-menu,
.menu__button--open .menu-nav__icon-cross {
  display: block;
}

.menu-nav__icon-cross,
.menu__button--open .menu-nav__icon-menu {
  display: none;
}
