@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: flexbox;
  display: flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
}

@mixin order($val) {
  -webkit-order: $val;
  order: $val;
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
}

// .wrapper {
// @include flexbox();
// }

// .item {
// @include flex(1 200px);
// @include order(2);
// }
