/* color */

$basic_font: #555;
$basic_font--title: #141414;
$basic_white: #fff;
$basic_white--alpha15: rgba(255,255,255,0.15);

$bg_button: #5C8692;
$bg_dark: #1E2C30;
$bg_copyright: #111E22;

$contrast: #EB9591;


