%message-shared {
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
}

/*
sass

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}
css

.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}
*/
